<h1><b>Administrador</b></h1>
<br>
<br>
<center>
   <div class="btn-group-vertical  btn-group-lg">
   <a href= "/cuentas" class="btn btn-danger"><h4><b>  Cuenta </b></h4></a>  		
  <br>
  <br>
  <%= link_to '   Mesa   ', tables_path, :class =>"btn btn-danger" %>
  <br>
  <br>
  <%= link_to 'Menu', food_menus_path, :class =>"btn btn-danger" %>
</div>
</center>
