<table id="mitabla">
  <thead>
    <tr >
      <th></th>
      <th></th>
      <th></th>
      
    </tr>
  </thead>

  <tbody>
    <% @tables.each do |table| %>
      <tr>
        <td>
          <% if table.status == "ocupada"%>
            <span id="mesaOcupada"><%= "#{table.id}"%></span>
          <%end%>
          <% if table.status == "limpieza"%>
            <span id="mesaLimpieza"><%= "#{table.id}" %></span>
          <%end%>
          <% if table.status == "Libre"%>
            <span id="mesaLibre"><%= "#{table.id}" %></span>
            
          <%end%>
        </td>  
        <td><%= table.status %></td>
        
        
      </tr>
    <% end %>
  </tbody>
</table>

