<script>
 $(document).ready(function(){

  $().UItoTop({ easingType: 'easeOutQuart' });
  $('#stuck_container').tmStickUp({});
  $('.gallery .gall_item').touchTouch();

  }); 
</script>
<header>
<!--==============================
            Stuck menu
=================================-->
  <section id="stuck_container">
    <div class="container">
      <div class="row">
        <div class="grid_12">
        <h1>
          <a href="index.html">
          <%= image_tag("marca.png", :alt => "Logo alt") %> 
            <!--<img src="images/logo.png" alt="Logo alt">-->
          </a>
        </h1>  
          <div class="navigation ">
            <nav>
              <ul class="sf-menu">
               
             </ul>
            </nav>        
            <div class="clear"></div>
          </div>
        </div>
      </div>
    </div>
  </section> 
</header>        

<div id="midiv">
	<% @mesas.each do |mesa|%>

		<%= image_tag("#{mesa.id}.png", :size=>"150x150")  %>
		<%= link_to 'Listo', clean_tables_path(mesa) %><br>
	<% end %>
</div>