<p id="notice"><%= notice %></p>
<b style="font-size:20px;">
<p>
  <h4><span class="label label-danger">Nombre:</span></h4><br>
  <%= @ingredient_c.name %>
</p>
</b>
<br>
<%= link_to 'Volver', ingredient_cs_path, :class=> 'btn btn-default active' %> 
