<p id="notice"><%= notice %></p>

<p>
  <h4><span class="label label-danger">Nombre:</span></h4>
  <%= @ingredient_c.name %>
</p>
<br>
<%= link_to 'Volver Ingredientes', ingredient_cs_path, :class=> 'btn btn-default active' %> |
<%= link_to 'Volver Recetas', new_recipe_c_path, :class=> 'btn btn-default active' %>
