<h1><b>Chef</b></h1>
<br>
<br>
<center>
   <div class="btn-group-vertical  btn-group-lg">
 	<br>
 	<a href= "/chefs/index" class="btn btn-danger"><h5><b> Gestionar Pedido</b></h5></a>
	<br>	
    <%= link_to 'Gestionar Recetas', recipe_cs_path, :class=> "btn btn-danger"  %> 
	<br>
	<%= link_to 'Gestionar Ingredientes', ingredient_cs_path, :class=> 'btn btn-danger' %> 
</div>
</center>
