// Place all the styles related to the waiters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#mesas {
	padding-top: 55px;
}
*{
	margin:0px;
	padding:0px;
	font-family: Helvetica Neue; 

}
p#header{
	text-align: center;
	font-size: 2.5em;
	color:#9a9a9a;
}

div.contenedor{
	width: 200px;
	height: 230px;
	margin: 1px;
	float:left;
	-webkit-border-radius: 6%;
}
div#libre{
	background-color: rgb(54,129,77);
}
div#ocupada{
	background-color: rgb(121,42,42);
}
div#limpieza{
	background-color: rgb(208,101,3);
}
div#reservada{
	background-color: rgb(15,123,127);
}
img.icon{
	display: block;
	margin:50px auto;
	background-color: rgba(255,255,255,.15);
	width:100px;
	padding:30px;
	-webkit-border-radius: 60%;
	-webkit-box-shadow: 0px 0px 0px 30px rgba(255,255,255,0);
	-webkit-transition:box-shadow .6s;

}
p.texto{
	font-size: 1.2em;
	color:white;
	text-align: center;
	padding-top:1px;
	opacity: .6;
	-webkit-transition: padding-top .4s;
}
div.contenedor:hover img.icon{
	-webkit-box-shadow:0px 0px 0px 0px rgba(255,255,255,.6);
}














body {
	background-color: #e6e8fa;
}

#cabezaTabla {
	display: block;
	width: 100px;
	margin: 10px auto;
	padding: 5px;
	text-align: center;
	border: 1px solid #999999;
	border-radius: 20px 20px 30px 30px;
	background: rgb(145,42,42); /*rgb(numeros decimales del 0 al 255)*/
	/*box-shadow: rgb(0, 0, 0) 10px 10px 5px;/* Color de la sombra/ distancia horizontal/distancia vertical/ radio de difuminacion*/
	background: -moz-radial-gradient(center, circle, #FFFFFF, #55FF2A); /*Posicion de comienzo//forma/color inicial/ color final*/
	background: -webkit-radial-gradient(center, circle, #FFFFFF, #55FF2A);
	background: -ms-radial-gradient(center, circle, #FFFFFF, #55FF2A);
	background: -o-radial-gradient(center, circle, #FFFFFF, #55FF2A);
	-moz-transition: -moz-transform 1s ease-in-out 0.1s;
	-webkit-transition: -webkit-transform 1s ease-in-out 0.1s;
	-o-transition: -o-transform 1s ease-in-out 0.1s;
	-ms-transition: -ms-transform 1s ease-in-out 0.1s;	
	float:left;
}
#pedido{
	display: block;
	width: 1px;
	margin: 1px auto;
	padding: 1px;
	text-align: center;
	border: 1px solid #999999;
	border-radius: 20px 20px 30px 30px;
	background: rgb(145,42,42); /*rgb(numeros decimales del 0 al 255)*/
	/*box-shadow: rgb(0, 0, 0) 10px 10px 5px;/* Color de la sombra/ distancia horizontal/distancia vertical/ radio de difuminacion*/
	background: -moz-radial-gradient(center, circle, #FFFFFF, #55FF2A); /*Posicion de comienzo//forma/color inicial/ color final*/
	background: -webkit-radial-gradient(center, circle, #FFFFFF, #55FF2A);
	background: -ms-radial-gradient(center, circle, #FFFFFF, #55FF2A);
	background: -o-radial-gradient(center, circle, #FFFFFF, #55FF2A);
	-moz-transition: -moz-transform 1s ease-in-out 0.1s;
	-webkit-transition: -webkit-transform 1s ease-in-out 0.1s;
	-o-transition: -o-transform 1s ease-in-out 0.1s;
	-ms-transition: -ms-transform 1s ease-in-out 0.1s;	
}

#pedidoListo{
	display: block;
	width: 150px;
	margin: 10px auto;
	padding: 5px;
	text-align: center;
	border: 1px solid #999999;
	border-radius: 20px 20px 30px 30px;
	background: rgb(145,42,42); /*rgb(numeros decimales del 0 al 255)*/
	/*box-shadow: rgb(0, 0, 0) 10px 10px 5px;/* Color de la sombra/ distancia horizontal/distancia vertical/ radio de difuminacion*/
	background: -moz-radial-gradient(center, circle, #FFFFFF, #55FF2A); /*Posicion de comienzo//forma/color inicial/ color final*/
	background: -webkit-radial-gradient(center, circle, #FFFFFF, #55FF2A);
	background: -ms-radial-gradient(center, circle, #FFFFFF, #55FF2A);
	background: -o-radial-gradient(center, circle, #FFFFFF, #55FF2A);
	-moz-transition: -moz-transform 1s ease-in-out 0.1s;
	-webkit-transition: -webkit-transform 1s ease-in-out 0.1s;
	-o-transition: -o-transform 1s ease-in-out 0.1s;
	-ms-transition: -ms-transform 1s ease-in-out 0.1s;	
}
#pedidoProceso{
	display: block;
	width: 150px;
	margin: 10px auto;
	padding: 5px;
	text-align: center;
	border: 1px solid #999999;
	border-radius: 20px 20px 30px 30px;
	background: rgb(255,42,42); /*rgb(numeros decimales del 0 al 255)*/
	/*box-shadow: rgb(25, 42, 42) 10px 10px 5px;/* Color de la sombra/ distancia horizontal/distancia vertical/ radio de difuminacion*/
	background: -moz-radial-gradient(center, circle, #FFFFFF, #FF0000); /*Posicion de comienzo//forma/color inicial/ color final*/
	background: -webkit-radial-gradient(center, circle, #FFFFFF, #FF0000);
	background: -ms-radial-gradient(center, circle, #0FFFFF, #FF0000);
	background: -o-radial-gradient(center, circle, #0FFFFF, #FF0000);
	-moz-transition: -moz-transform 1s ease-in-out 0.1s;
	-webkit-transition: -webkit-transform 1s ease-in-out 0.1s;
	-o-transition: -o-transform 1s ease-in-out 0.1s;
	-ms-transition: -ms-transform 1s ease-in-out 0.1s;
}
#mesaOcupada {
	display: block;
	width: 100px;
	margin: 10px auto;
	padding: 25px;
	text-align: center;
	font: bold 66px mifuente, verdana, sans-serif;
	border: 1px solid #FF0000;
	background: rgb(150,0,0); /*rgb(numeros decimales del 0 al 255)*/
	border-radius: 20px;
	box-shadow: rgb(0, 0, 150) 3px 3px 5px;/* Color de la sombra/ distancia horizontal/distancia vertical/ radio de difuminacion*/
	background: -moz-radial-gradient(center, circle, #FFFFFF, #FF0000); /*Posicion de comienzo//forma/color inicial/ color final*/
	background: -webkit-radial-gradient(center, circle, #FFFFFF, #FF0000);
	background: -ms-radial-gradient(center, circle, #FFFFFF, #FF0000);
	background: -o-radial-gradient(center, circle, #FFFFFF, #FF0000);
	-moz-transition: -moz-transform 1s ease-in-out 0.1s;
	-webkit-transition: -webkit-transform 1s ease-in-out 0.1s;
	-o-transition: -o-transform 1s ease-in-out 0.1s;
	-ms-transition: -ms-transform 1s ease-in-out 0.1s;	
}
#mesaLimpieza {
	display: block;
	width: 100px;
	margin: 10px auto;
	padding: 25px;
	text-align: center;
	font: bold 66px mifuente, verdana, sans-serif;
	border: 1px solid #999999;
	background: rgb(150,0,0); /*rgb(numeros decimales del 0 al 255)*/
	border-radius: 20px;
	box-shadow: rgb(0, 0, 150) 3px 3px 5px;/* Color de la sombra/ distancia horizontal/distancia vertical/ radio de difuminacion*/
	background: -moz-radial-gradient(center, circle, #FFFFFF, #FFAA2A); /*Posicion de comienzo//forma/color inicial/ color final*/
	background: -webkit-radial-gradient(center, circle, #FFFFFF, #FFAA2A);
	background: -ms-radial-gradient(center, circle, #FFFFFF, #FFAA2A);
	background: -o-radial-gradient(center, circle, #FFFFFF, #FFAA2A);
	-moz-transition: -moz-transform 1s ease-in-out 0.1s;
	-webkit-transition: -webkit-transform 1s ease-in-out 0.1s;
	-o-transition: -o-transform 1s ease-in-out 0.1s;
	-ms-transition: -ms-transform 1s ease-in-out 0.1s;	
}
#mesaLibre {
	display: block;
	width: 100px;
	margin: 10px auto;
	padding: 25px;
	text-align: center;
	font: bold 66px mifuente, verdana, sans-serif;
	border: 1px solid #00FF00;
	background: rgb(150,0,0); /*rgb(numeros decimales del 0 al 255)*/
	border-radius: 20px;
	box-shadow: rgb(0, 0, 150) 3px 3px 5px;/* Color de la sombra/ distancia horizontal/distancia vertical/ radio de difuminacion*/
	background: -moz-radial-gradient(center, circle, #FFFFFF, #00FF00); /*Posicion de comienzo//forma/color inicial/ color final*/
	background: -webkit-radial-gradient(center, circle, #FFFFFF, #00FF00);
	background: -ms-radial-gradient(center, circle, #FFFFFF, #00FF00);
	background: -o-radial-gradient(center, circle, #FFFFFF, #00FF00);
	-moz-transition: -moz-transform 1s ease-in-out 0.1s;
	-webkit-transition: -webkit-transform 1s ease-in-out 0.1s;
	-o-transition: -o-transform 1s ease-in-out 0.1s;
	-ms-transition: -ms-transform 1s ease-in-out 0.1s;	
}

#accion{
	display: block;
	width: 150px;
	margin: 10px auto;
	padding: 5px;
	text-align: center;
	border: 1px solid #999999;
	background: rgb(150,0,0); /*rgb(numeros decimales del 0 al 255)*/
	border-radius: 20px;
	box-shadow: rgb(0, 0, 150) 10px 10px 5px;/* Color de la sombra/ distancia horizontal/distancia vertical/ radio de difuminacion*/
	background: -moz-radial-gradient(center, circle, #FFFFFF, #006699); /*Posicion de comienzo//forma/color inicial/ color final*/
	background: -webkit-radial-gradient(center, circle, #FFFFFF, #006699);
	background: -ms-radial-gradient(center, circle, #FFFFFF, #006699);
	background: -o-radial-gradient(center, circle, #FFFFFF, #006699);
	-moz-transition: -moz-transform 1s ease-in-out 0.1s;
	-webkit-transition: -webkit-transform 1s ease-in-out 0.1s;
	-o-transition: -o-transform 1s ease-in-out 0.1s;
	-ms-transition: -ms-transform 1s ease-in-out 0.1s;
}
#accion:hover{
	-o-transform: scale(0.9);
	-ms-transform: scale(0.9);
	-moz-transform: scale(0.9);
	-webkit-transform: scale(0.9);

}

#checkbox{
	margin-left:5px; /*Este margen hace que no se encime el contenido en tu menúlateral, es     importante que pongas un pocos pixeles más que el ancho  de tu columna lateral*/
	/*background-color: #D4FFD4;
	/*	border:#000000 1px solid; /*ponemos un dorde para que se vea bonito*/
	float:left; /*Aqui determinas de lado quieres quede esta "columna" */	
}
#nombreComida {
display: block;
	margin-left:5px; /*Este margen hace que no se encime el contenido en tu menúlateral, es     importante que pongas un pocos pixeles más que el ancho  de tu columna lateral*/
/*background-color: #D4FFD4;
border:#000000 1px solid; /*ponemos un dorde para que se vea bonito*/
float:left;
}
#cantidades {
	margin-left:5px; /*Este margen hace que no se encime el contenido en tu menúlateral, es     importante que pongas un pocos pixeles más que el ancho  de tu columna lateral*/
/*background-color: #D4FFD4;
/*	border:#000000 1px solid; /*ponemos un dorde para que se vea bonito*/
float:left;
}
#checkbox div {
	display: block;
	width: 50px;
	margin: 10px auto;
	padding: 5px;
	text-align: center;
	border: 1px solid #999999;
	background: rgb(150,0,0); /*rgb(numeros decimales del 0 al 255)*/
	border-radius: 20px;
	box-shadow: rgb(0, 0, 150) 2px 2px 5px;/* Color de la sombra/ distancia horizontal/distancia vertical/ radio de difuminacion*/
	background: -moz-radial-gradient(center, circle, #FFFFFF, #006699); /*Posicion de comienzo//forma/color inicial/ color final*/
	background: -webkit-radial-gradient(center, circle, #FFFFFF, #006699);
	background: -ms-radial-gradient(center, circle, #FFFFFF, #006699);
	background: -o-radial-gradient(center, circle, #FFFFFF, #006699);
	-moz-transition: -moz-transform 1s ease-in-out 0.1s;
	-webkit-transition: -webkit-transform 1s ease-in-out 0.1s;
	-o-transition: -o-transform 1s ease-in-out 0.1s;
	-ms-transition: -ms-transform 1s ease-in-out 0.1s;
}
#nombreComida div {
	display: block;
	width: 100px;
	margin: 10px auto;
	padding: 5px;
	text-align: center;
	border: 1px solid #999999;
	background: rgb(150,0,0); /*rgb(numeros decimales del 0 al 255)*/
	border-radius: 20px;
	box-shadow: rgb(0, 0, 150) 2px 2px 5px;/* Color de la sombra/ distancia horizontal/distancia vertical/ radio de difuminacion*/
	background: -moz-radial-gradient(center, circle, #FFFFFF, #006699); /*Posicion de comienzo//forma/color inicial/ color final*/
	background: -webkit-radial-gradient(center, circle, #FFFFFF, #006699);
	background: -ms-radial-gradient(center, circle, #FFFFFF, #006699);
	background: -o-radial-gradient(center, circle, #FFFFFF, #006699);
	-moz-transition: -moz-transform 1s ease-in-out 0.1s;
	-webkit-transition: -webkit-transform 1s ease-in-out 0.1s;
	-o-transition: -o-transform 1s ease-in-out 0.1s;
	-ms-transition: -ms-transform 1s ease-in-out 0.1s;
}
#cantidades div {
	display: block;
	width: 165px;
	margin: 10px auto;
	padding: 5px;
	text-align: center;
	border: 1px solid #999999;
	background: rgb(150,0,0); /*rgb(numeros decimales del 0 al 255)*/
	border-radius: 20px;
	box-shadow: rgb(0, 0, 150) 2px 2px 5px;/* Color de la sombra/ distancia horizontal/distancia vertical/ radio de difuminacion*/
	background: -moz-radial-gradient(center, circle, #FFFFFF, #006699); /*Posicion de comienzo//forma/color inicial/ color final*/
	background: -webkit-radial-gradient(center, circle, #FFFFFF, #006699);
	background: -ms-radial-gradient(center, circle, #FFFFFF, #006699);
	background: -o-radial-gradient(center, circle, #FFFFFF, #006699);
	-moz-transition: -moz-transform 1s ease-in-out 0.1s;
	-webkit-transition: -webkit-transform 1s ease-in-out 0.1s;
	-o-transition: -o-transform 1s ease-in-out 0.1s;
	-ms-transition: -ms-transform 1s ease-in-out 0.1s;
}
#llevar div {
	display: block;
	width: 15px;
	margin: 10px auto;
	padding: 5px;
	text-align: center;
	border: 1px solid #999999;
	background: rgb(150,0,0); /*rgb(numeros decimales del 0 al 255)*/
	border-radius: 20px;
	box-shadow: rgb(0, 0, 150) 2px 2px 5px;/* Color de la sombra/ distancia horizontal/distancia vertical/ radio de difuminacion*/
	background: -moz-radial-gradient(center, circle, #FFFFFF, #006699); /*Posicion de comienzo//forma/color inicial/ color final*/
	background: -webkit-radial-gradient(center, circle, #FFFFFF, #006699);
	background: -ms-radial-gradient(center, circle, #FFFFFF, #006699);
	background: -o-radial-gradient(center, circle, #FFFFFF, #006699);
	-moz-transition: -moz-transform 1s ease-in-out 0.1s;
	-webkit-transition: -webkit-transform 1s ease-in-out 0.1s;
	-o-transition: -o-transform 1s ease-in-out 0.1s;
	-ms-transition: -ms-transform 1s ease-in-out 0.1s;
}

#llevar div {
	display: block;
	width: 155px;
	margin: 10px auto;
	padding: 5px;
	text-align: center;
	border: 1px solid #999999;
	background: rgb(150,0,0); /*rgb(numeros decimales del 0 al 255)*/
	border-radius: 20px;
	box-shadow: rgb(0, 0, 150) 2px 2px 5px;/* Color de la sombra/ distancia horizontal/distancia vertical/ radio de difuminacion*/
	background: -moz-radial-gradient(center, circle, #FFFFFF, #006699); /*Posicion de comienzo//forma/color inicial/ color final*/
	background: -webkit-radial-gradient(center, circle, #FFFFFF, #006699);
	background: -ms-radial-gradient(center, circle, #FFFFFF, #006699);
	background: -o-radial-gradient(center, circle, #FFFFFF, #006699);
	-moz-transition: -moz-transform 1s ease-in-out 0.1s;
	-webkit-transition: -webkit-transform 1s ease-in-out 0.1s;
	-o-transition: -o-transform 1s ease-in-out 0.1s;
	-ms-transition: -ms-transform 1s ease-in-out 0.1s;
}
#observacion div{
	margin-left :2px;
	text-align: left;

	-moz-transition: -moz-transform 1s ease-in-out 0.1s;
	-webkit-transition: -webkit-transform 1s ease-in-out 0.1s;
	-o-transition: -o-transform 1s ease-in-out 0.1s;
	-ms-transition: -ms-transform 1s ease-in-out 0.1s;             	
}

