// Place all the styles related to the waiters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
	background-color: #FFCC66;
}


#mesaLibre {
	display: block;
	width: 100px;
	margin: 10px auto;
	padding: 25px;
	text-align: center;
	font: bold 66px mifuente, verdana, sans-serif;
	border: 1px solid #00FF00;
	background: rgb(150,0,0); /*rgb(numeros decimales del 0 al 255)*/
	border-radius: 20px;
	box-shadow: rgb(0, 0, 150) 3px 3px 5px;/* Color de la sombra/ distancia horizontal/distancia vertical/ radio de difuminacion*/
	background: -moz-radial-gradient(center, circle, #FFFFFF, #00FF00); /*Posicion de comienzo//forma/color inicial/ color final*/
	background: -webkit-radial-gradient(center, circle, #FFFFFF, #00FF00);
	background: -ms-radial-gradient(center, circle, #FFFFFF, #00FF00);
	background: -o-radial-gradient(center, circle, #FFFFFF, #00FF00);
	-moz-transition: -moz-transform 1s ease-in-out 0.1s;
	-webkit-transition: -webkit-transform 1s ease-in-out 0.1s;
	-o-transition: -o-transform 1s ease-in-out 0.1s;
	-ms-transition: -ms-transform 1s ease-in-out 0.1s;	
}
