// Place all the styles related to the waiters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#mesas {
	padding-top: 55px;
}
*{
	margin:0px;
	padding:0px;
	font-family: Helvetica Neue; 

}
p#header{
	text-align: center;
	font-size: 2.5em;
	color:#9a9a9a;
}

div.contenedor{
	width: 200px;
	height: 230px;
	margin: 1px;
	float:left;
	-webkit-border-radius: 6%;
}
div#libre{
	background-color: rgb(54,129,77);
}
div#ocupada{
	background-color: rgb(121,42,42);
}
div#limpieza{
	background-color: rgb(208,101,3);
}
div#reservada{
	background-color: rgb(15,123,127);
}
img.icon{
	display: block;
	margin:50px auto;
	background-color: rgba(255,255,255,.15);
	width:100px;
	padding:30px;
	-webkit-border-radius: 60%;
	-webkit-box-shadow: 0px 0px 0px 30px rgba(255,255,255,0);
	-webkit-transition:box-shadow .6s;

}
p.texto{
	font-size: 1.2em;
	color:white;
	text-align: center;
	padding-top:1px;
	opacity: .6;
	-webkit-transition: padding-top .4s;
}
div.contenedor:hover img.icon{
	-webkit-box-shadow:0px 0px 0px 0px rgba(255,255,255,.6);
}














body {
	background-color: #ffffff;
}

#cabezaTabla {
	display: block;
	width: 100px;
	margin: 10px auto;
	padding: 5px;
	text-align: center;
	border: 1px solid #999999;
	border-radius: 20px 20px 30px 30px;
	background: rgb(145,42,42); /*rgb(numeros decimales del 0 al 255)*/
	/*box-shadow: rgb(0, 0, 0) 10px 10px 5px;/* Color de la sombra/ distancia horizontal/distancia vertical/ radio de difuminacion*/
	background: -moz-radial-gradient(center, circle, #FFFFFF, #55FF2A); /*Posicion de comienzo//forma/color inicial/ color final*/
	background: -webkit-radial-gradient(center, circle, #FFFFFF, #55FF2A);
	background: -ms-radial-gradient(center, circle, #FFFFFF, #55FF2A);
	background: -o-radial-gradient(center, circle, #FFFFFF, #55FF2A);
	-moz-transition: -moz-transform 1s ease-in-out 0.1s;
	-webkit-transition: -webkit-transform 1s ease-in-out 0.1s;
	-o-transition: -o-transform 1s ease-in-out 0.1s;
	-ms-transition: -ms-transform 1s ease-in-out 0.1s;	
	float:left;
}
#pedido{
	display: block;
	width: 1px;
	margin: 1px auto;
	padding: 1px;
	text-align: center;
	border: 1px solid #999999;
	border-radius: 20px 20px 30px 30px;
	background: rgb(145,42,42); /*rgb(numeros decimales del 0 al 255)*/
	/*box-shadow: rgb(0, 0, 0) 10px 10px 5px;/* Color de la sombra/ distancia horizontal/distancia vertical/ radio de difuminacion*/
	background: -moz-radial-gradient(center, circle, #FFFFFF, #55FF2A); /*Posicion de comienzo//forma/color inicial/ color final*/
	background: -webkit-radial-gradient(center, circle, #FFFFFF, #55FF2A);
	background: -ms-radial-gradient(center, circle, #FFFFFF, #55FF2A);
	background: -o-radial-gradient(center, circle, #FFFFFF, #55FF2A);
	-moz-transition: -moz-transform 1s ease-in-out 0.1s;
	-webkit-transition: -webkit-transform 1s ease-in-out 0.1s;
	-o-transition: -o-transform 1s ease-in-out 0.1s;
	-ms-transition: -ms-transform 1s ease-in-out 0.1s;	
}

#pedidoListo{
	display: block;
	width: 150px;
	margin: 10px auto;
	padding: 5px;
	text-align: center;
	border: 1px solid #999999;
	border-radius: 20px 20px 30px 30px;
	background: rgb(145,42,42); /*rgb(numeros decimales del 0 al 255)*/
	/*box-shadow: rgb(0, 0, 0) 10px 10px 5px;/* Color de la sombra/ distancia horizontal/distancia vertical/ radio de difuminacion*/
	background: -moz-radial-gradient(center, circle, #FFFFFF, #55FF2A); /*Posicion de comienzo//forma/color inicial/ color final*/
	background: -webkit-radial-gradient(center, circle, #FFFFFF, #55FF2A);
	background: -ms-radial-gradient(center, circle, #FFFFFF, #55FF2A);
	background: -o-radial-gradient(center, circle, #FFFFFF, #55FF2A);
	-moz-transition: -moz-transform 1s ease-in-out 0.1s;
	-webkit-transition: -webkit-transform 1s ease-in-out 0.1s;
	-o-transition: -o-transform 1s ease-in-out 0.1s;
	-ms-transition: -ms-transform 1s ease-in-out 0.1s;	
}
#pedidoProceso{
	display: block;
	width: 150px;
	margin: 10px auto;
	padding: 5px;
	text-align: center;
	border: 1px solid #999999;
	border-radius: 20px 20px 30px 30px;
	background: rgb(255,42,42); /*rgb(numeros decimales del 0 al 255)*/
	/*box-shadow: rgb(25, 42, 42) 10px 10px 5px;/* Color de la sombra/ distancia horizontal/distancia vertical/ radio de difuminacion*/
	background: -moz-radial-gradient(center, circle, #FFFFFF, #FF0000); /*Posicion de comienzo//forma/color inicial/ color final*/
	background: -webkit-radial-gradient(center, circle, #FFFFFF, #FF0000);
	background: -ms-radial-gradient(center, circle, #0FFFFF, #FF0000);
	background: -o-radial-gradient(center, circle, #0FFFFF, #FF0000);
	-moz-transition: -moz-transform 1s ease-in-out 0.1s;
	-webkit-transition: -webkit-transform 1s ease-in-out 0.1s;
	-o-transition: -o-transform 1s ease-in-out 0.1s;
	-ms-transition: -ms-transform 1s ease-in-out 0.1s;
}
#mesaOcupada {
	display: block;
	width: 100px;
	margin: 10px auto;
	padding: 25px;
	text-align: center;
	font: bold 66px mifuente, verdana, sans-serif;
	border: 1px solid #FF0000;
	background: rgb(150,0,0); /*rgb(numeros decimales del 0 al 255)*/
	border-radius: 20px;
	box-shadow: rgb(0, 0, 150) 3px 3px 5px;/* Color de la sombra/ distancia horizontal/distancia vertical/ radio de difuminacion*/
	background: -moz-radial-gradient(center, circle, #FFFFFF, #FF0000); /*Posicion de comienzo//forma/color inicial/ color final*/
	background: -webkit-radial-gradient(center, circle, #FFFFFF, #FF0000);
	background: -ms-radial-gradient(center, circle, #FFFFFF, #FF0000);
	background: -o-radial-gradient(center, circle, #FFFFFF, #FF0000);
	-moz-transition: -moz-transform 1s ease-in-out 0.1s;
	-webkit-transition: -webkit-transform 1s ease-in-out 0.1s;
	-o-transition: -o-transform 1s ease-in-out 0.1s;
	-ms-transition: -ms-transform 1s ease-in-out 0.1s;	
}
#mesaLimpieza {
	display: block;
	width: 100px;
	margin: 10px auto;
	padding: 25px;
	text-align: center;
	font: bold 66px mifuente, verdana, sans-serif;
	border: 1px solid #999999;
	background: rgb(150,0,0); /*rgb(numeros decimales del 0 al 255)*/
	border-radius: 20px;
	box-shadow: rgb(0, 0, 150) 3px 3px 5px;/* Color de la sombra/ distancia horizontal/distancia vertical/ radio de difuminacion*/
	background: -moz-radial-gradient(center, circle, #FFFFFF, #FFAA2A); /*Posicion de comienzo//forma/color inicial/ color final*/
	background: -webkit-radial-gradient(center, circle, #FFFFFF, #FFAA2A);
	background: -ms-radial-gradient(center, circle, #FFFFFF, #FFAA2A);
	background: -o-radial-gradient(center, circle, #FFFFFF, #FFAA2A);
	-moz-transition: -moz-transform 1s ease-in-out 0.1s;
	-webkit-transition: -webkit-transform 1s ease-in-out 0.1s;
	-o-transition: -o-transform 1s ease-in-out 0.1s;
	-ms-transition: -ms-transform 1s ease-in-out 0.1s;	
}
#mesaLibre {
	display: block;
	width: 100px;
	margin: 10px auto;
	padding: 25px;
	text-align: center;
	font: bold 66px mifuente, verdana, sans-serif;
	border: 1px solid #00FF00;
	background: rgb(150,0,0); /*rgb(numeros decimales del 0 al 255)*/
	border-radius: 20px;
	box-shadow: rgb(0, 0, 150) 3px 3px 5px;/* Color de la sombra/ distancia horizontal/distancia vertical/ radio de difuminacion*/
	background: -moz-radial-gradient(center, circle, #FFFFFF, #00FF00); /*Posicion de comienzo//forma/color inicial/ color final*/
	background: -webkit-radial-gradient(center, circle, #FFFFFF, #00FF00);
	background: -ms-radial-gradient(center, circle, #FFFFFF, #00FF00);
	background: -o-radial-gradient(center, circle, #FFFFFF, #00FF00);
	-moz-transition: -moz-transform 1s ease-in-out 0.1s;
	-webkit-transition: -webkit-transform 1s ease-in-out 0.1s;
	-o-transition: -o-transform 1s ease-in-out 0.1s;
	-ms-transition: -ms-transform 1s ease-in-out 0.1s;	
}

#accion{
	display: block;
	width: 150px;
	margin: 10px auto;
	padding: 5px;
	text-align: center;
	border: 1px solid #999999;
	background: rgb(150,0,0); /*rgb(numeros decimales del 0 al 255)*/
	border-radius: 20px;
	box-shadow: rgb(0, 0, 150) 10px 10px 5px;/* Color de la sombra/ distancia horizontal/distancia vertical/ radio de difuminacion*/
	background: -moz-radial-gradient(center, circle, #FFFFFF, #006699); /*Posicion de comienzo//forma/color inicial/ color final*/
	background: -webkit-radial-gradient(center, circle, #FFFFFF, #006699);
	background: -ms-radial-gradient(center, circle, #FFFFFF, #006699);
	background: -o-radial-gradient(center, circle, #FFFFFF, #006699);
	-moz-transition: -moz-transform 1s ease-in-out 0.1s;
	-webkit-transition: -webkit-transform 1s ease-in-out 0.1s;
	-o-transition: -o-transform 1s ease-in-out 0.1s;
	-ms-transition: -ms-transform 1s ease-in-out 0.1s;
}
#accion:hover{
	-o-transform: scale(0.9);
	-ms-transform: scale(0.9);
	-moz-transform: scale(0.9);
	-webkit-transform: scale(0.9);

}

#checkbox{
	margin-left:5px; /*Este margen hace que no se encime el contenido en tu menúlateral, es     importante que pongas un pocos pixeles más que el ancho  de tu columna lateral*/
	/*background-color: #D4FFD4;
	/*	border:#000000 1px solid; /*ponemos un dorde para que se vea bonito*/
	float:left; /*Aqui determinas de lado quieres quede esta "columna" */	
}
#nombreComida {
display: block;
	margin-left:5px; /*Este margen hace que no se encime el contenido en tu menúlateral, es     importante que pongas un pocos pixeles más que el ancho  de tu columna lateral*/
/*background-color: #D4FFD4;
border:#000000 1px solid; /*ponemos un dorde para que se vea bonito*/
float:left;
}
#cantidades {
	margin-left:5px; /*Este margen hace que no se encime el contenido en tu menúlateral, es     importante que pongas un pocos pixeles más que el ancho  de tu columna lateral*/
/*background-color: #D4FFD4;
/*	border:#000000 1px solid; /*ponemos un dorde para que se vea bonito*/
float:left;
}
#checkbox div {
	display: block;
	width: 50px;
	margin: 10px auto;
	padding: 5px;
	text-align: center;
	border: 1px solid #999999;
	background: rgb(150,0,0); /*rgb(numeros decimales del 0 al 255)*/
	border-radius: 20px;
	box-shadow: rgb(0, 0, 150) 2px 2px 5px;/* Color de la sombra/ distancia horizontal/distancia vertical/ radio de difuminacion*/
	background: -moz-radial-gradient(center, circle, #FFFFFF, #006699); /*Posicion de comienzo//forma/color inicial/ color final*/
	background: -webkit-radial-gradient(center, circle, #FFFFFF, #006699);
	background: -ms-radial-gradient(center, circle, #FFFFFF, #006699);
	background: -o-radial-gradient(center, circle, #FFFFFF, #006699);
	-moz-transition: -moz-transform 1s ease-in-out 0.1s;
	-webkit-transition: -webkit-transform 1s ease-in-out 0.1s;
	-o-transition: -o-transform 1s ease-in-out 0.1s;
	-ms-transition: -ms-transform 1s ease-in-out 0.1s;
}
#nombreComida div {
	display: block;
	width: 100px;
	margin: 10px auto;
	padding: 5px;
	text-align: center;
	border: 1px solid #999999;
	background: rgb(150,0,0); /*rgb(numeros decimales del 0 al 255)*/
	border-radius: 20px;
	box-shadow: rgb(0, 0, 150) 2px 2px 5px;/* Color de la sombra/ distancia horizontal/distancia vertical/ radio de difuminacion*/
	background: -moz-radial-gradient(center, circle, #FFFFFF, #006699); /*Posicion de comienzo//forma/color inicial/ color final*/
	background: -webkit-radial-gradient(center, circle, #FFFFFF, #006699);
	background: -ms-radial-gradient(center, circle, #FFFFFF, #006699);
	background: -o-radial-gradient(center, circle, #FFFFFF, #006699);
	-moz-transition: -moz-transform 1s ease-in-out 0.1s;
	-webkit-transition: -webkit-transform 1s ease-in-out 0.1s;
	-o-transition: -o-transform 1s ease-in-out 0.1s;
	-ms-transition: -ms-transform 1s ease-in-out 0.1s;
}
#cantidades div {
	display: block;
	width: 165px;
	margin: 10px auto;
	padding: 5px;
	text-align: center;
	border: 1px solid #999999;
	background: rgb(150,0,0); /*rgb(numeros decimales del 0 al 255)*/
	border-radius: 20px;
	box-shadow: rgb(0, 0, 150) 2px 2px 5px;/* Color de la sombra/ distancia horizontal/distancia vertical/ radio de difuminacion*/
	background: -moz-radial-gradient(center, circle, #FFFFFF, #006699); /*Posicion de comienzo//forma/color inicial/ color final*/
	background: -webkit-radial-gradient(center, circle, #FFFFFF, #006699);
	background: -ms-radial-gradient(center, circle, #FFFFFF, #006699);
	background: -o-radial-gradient(center, circle, #FFFFFF, #006699);
	-moz-transition: -moz-transform 1s ease-in-out 0.1s;
	-webkit-transition: -webkit-transform 1s ease-in-out 0.1s;
	-o-transition: -o-transform 1s ease-in-out 0.1s;
	-ms-transition: -ms-transform 1s ease-in-out 0.1s;
}
#llevar div {
	display: block;
	width: 15px;
	margin: 10px auto;
	padding: 5px;
	text-align: center;
	border: 1px solid #999999;
	background: rgb(150,0,0); /*rgb(numeros decimales del 0 al 255)*/
	border-radius: 20px;
	box-shadow: rgb(0, 0, 150) 2px 2px 5px;/* Color de la sombra/ distancia horizontal/distancia vertical/ radio de difuminacion*/
	background: -moz-radial-gradient(center, circle, #FFFFFF, #006699); /*Posicion de comienzo//forma/color inicial/ color final*/
	background: -webkit-radial-gradient(center, circle, #FFFFFF, #006699);
	background: -ms-radial-gradient(center, circle, #FFFFFF, #006699);
	background: -o-radial-gradient(center, circle, #FFFFFF, #006699);
	-moz-transition: -moz-transform 1s ease-in-out 0.1s;
	-webkit-transition: -webkit-transform 1s ease-in-out 0.1s;
	-o-transition: -o-transform 1s ease-in-out 0.1s;
	-ms-transition: -ms-transform 1s ease-in-out 0.1s;
}

#llevar div {
	display: block;
	width: 155px;
	margin: 10px auto;
	padding: 5px;
	text-align: center;
	border: 1px solid #999999;
	background: rgb(150,0,0); /*rgb(numeros decimales del 0 al 255)*/
	border-radius: 20px;
	box-shadow: rgb(0, 0, 150) 2px 2px 5px;/* Color de la sombra/ distancia horizontal/distancia vertical/ radio de difuminacion*/
	background: -moz-radial-gradient(center, circle, #FFFFFF, #006699); /*Posicion de comienzo//forma/color inicial/ color final*/
	background: -webkit-radial-gradient(center, circle, #FFFFFF, #006699);
	background: -ms-radial-gradient(center, circle, #FFFFFF, #006699);
	background: -o-radial-gradient(center, circle, #FFFFFF, #006699);
	-moz-transition: -moz-transform 1s ease-in-out 0.1s;
	-webkit-transition: -webkit-transform 1s ease-in-out 0.1s;
	-o-transition: -o-transform 1s ease-in-out 0.1s;
	-ms-transition: -ms-transform 1s ease-in-out 0.1s;
}
#observacion div{
	margin-left :2px;
	text-align: left;

	-moz-transition: -moz-transform 1s ease-in-out 0.1s;
	-webkit-transition: -webkit-transform 1s ease-in-out 0.1s;
	-o-transition: -o-transform 1s ease-in-out 0.1s;
	-ms-transition: -ms-transform 1s ease-in-out 0.1s;             	
}


























h1 {
	color: #eee;
	font: 30px Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	text-shadow: 0px 1px black;
	text-align: center;
	margin-bottom: 50px;
}

input[type=checkbox] {
	visibility: hidden;
}

/* SLIDE ONE */
.slideOne {
	width: 50px;
	height: 10px;
	background: #333;
	margin: 20px auto;

	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	position: relative;

	-webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
	-moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
	box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
}

.slideOne label {
	display: block;
	width: 16px;
	height: 16px;

	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;

	-webkit-transition: all .4s ease;
	-moz-transition: all .4s ease;
	-o-transition: all .4s ease;
	-ms-transition: all .4s ease;
	transition: all .4s ease;
	cursor: pointer;
	position: absolute;
	top: -3px;
	left: -3px;

	-webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
	box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
	background: #fcfff4;

	background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -o-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -ms-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 );
}

.slideOne input[type=checkbox]:checked + label {
	left: 37px;
}

/* SLIDE TWO */
.slideTwo {
	width: 80px;
	height: 30px;
	background: #333;
	margin: 20px auto;

	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	position: relative;

	-webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
	-moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
	box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
}

.slideTwo:after {
	content: '';
	position: absolute;
	top: 14px;
	left: 14px;
	height: 2px;
	width: 52px;

	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	background: #111;

	-webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
	-moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
	box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
}

.slideTwo label {
	display: block;
	width: 22px;
	height: 22px;

	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;

	-webkit-transition: all .4s ease;
	-moz-transition: all .4s ease;
	-o-transition: all .4s ease;
	-ms-transition: all .4s ease;
	transition: all .4s ease;
	cursor: pointer;
	position: absolute;
	top: 4px;
	z-index: 1;
	left: 4px;

	-webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
	box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
	background: #fcfff4;

	background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -o-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -ms-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 );
}

.slideTwo label:after {
	content: '';
	position: absolute;
	width: 10px;
	height: 10px;

	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	background: #333;
	left: 6px;
	top: 6px;

	-webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,1), 0px 1px 0px rgba(255,255,255,0.9);
	-moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,1), 0px 1px 0px rgba(255,255,255,0.9);
	box-shadow: inset 0px 1px 1px rgba(0,0,0,1), 0px 1px 0px rgba(255,255,255,0.9);
}

.slideTwo input[type=checkbox]:checked + label {
	left: 54px;
}

.slideTwo input[type=checkbox]:checked + label:after {
	background: #00bf00;
}

/* SLIDE THREE */
.slideThree {
	width: 80px;
	height: 26px;
	background: #333;
	margin: 20px auto;

	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	position: relative;

	-webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
	-moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
	box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
}

.slideThree:after {
	content: 'OFF';
	font: 12px/26px Arial, sans-serif;
	color: #000;
	position: absolute;
	right: 10px;
	z-index: 0;
	font-weight: bold;
	text-shadow: 1px 1px 0px rgba(255,255,255,.15);
}

.slideThree:before {
	content: 'ON';
	font: 12px/26px Arial, sans-serif;
	color: #00bf00;
	position: absolute;
	left: 10px;
	z-index: 0;
	font-weight: bold;
}

.slideThree label {
	display: block;
	width: 34px;
	height: 20px;

	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;

	-webkit-transition: all .4s ease;
	-moz-transition: all .4s ease;
	-o-transition: all .4s ease;
	-ms-transition: all .4s ease;
	transition: all .4s ease;
	cursor: pointer;
	position: absolute;
	top: 3px;
	left: 3px;
	z-index: 1;

	-webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
	box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
	background: #fcfff4;

	background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -o-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -ms-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 );
}

.slideThree input[type=checkbox]:checked + label {
	left: 43px;
}

/* ROUNDED ONE */
.roundedOne {
	width: 28px;
	height: 28px;
	background: #fcfff4;

	background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -o-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -ms-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 );
	margin: 20px auto;

	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;

	-webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	position: relative;
}

.roundedOne label {
	cursor: pointer;
	position: absolute;
	width: 20px;
	height: 20px;

	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	left: 4px;
	top: 4px;

	-webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);
	-moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);
	box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);

	background: -webkit-linear-gradient(top, #222 0%, #45484d 100%);
	background: -moz-linear-gradient(top, #222 0%, #45484d 100%);
	background: -o-linear-gradient(top, #222 0%, #45484d 100%);
	background: -ms-linear-gradient(top, #222 0%, #45484d 100%);
	background: linear-gradient(top, #222 0%, #45484d 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222', endColorstr='#45484d',GradientType=0 );
}

.roundedOne label:after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
	content: '';
	position: absolute;
	width: 16px;
	height: 16px;
	background: #00bf00;

	background: -webkit-linear-gradient(top, #00bf00 0%, #009400 100%);
	background: -moz-linear-gradient(top, #00bf00 0%, #009400 100%);
	background: -o-linear-gradient(top, #00bf00 0%, #009400 100%);
	background: -ms-linear-gradient(top, #00bf00 0%, #009400 100%);
	background: linear-gradient(top, #00bf00 0%, #009400 100%);

	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	top: 2px;
	left: 2px;

	-webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
}

.roundedOne label:hover::after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	opacity: 0.3;
}

.roundedOne input[type=checkbox]:checked + label:after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
}

/* ROUNDED TWO */
.roundedTwo {
	width: 28px;
	height: 28px;
	background: #fcfff4;

	background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -o-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -ms-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 );
	margin: 20px auto;

	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;

	-webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	position: relative;
}

.roundedTwo label {
	cursor: pointer;
	position: absolute;
	width: 20px;
	height: 20px;

	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	left: 4px;
	top: 4px;

	-webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);
	-moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);
	box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);

	background: -webkit-linear-gradient(top, #222 0%, #45484d 100%);
	background: -moz-linear-gradient(top, #222 0%, #45484d 100%);
	background: -o-linear-gradient(top, #222 0%, #45484d 100%);
	background: -ms-linear-gradient(top, #222 0%, #45484d 100%);
	background: linear-gradient(top, #222 0%, #45484d 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222', endColorstr='#45484d',GradientType=0 );
}

.roundedTwo label:after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
	content: '';
	position: absolute;
	width: 9px;
	height: 5px;
	background: transparent;
	top: 5px;
	left: 4px;
	border: 3px solid #fcfff4;
	border-top: none;
	border-right: none;

	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.roundedTwo label:hover::after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	opacity: 0.3;
}

.roundedTwo input[type=checkbox]:checked + label:after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
}

/* SQUARED ONE */
.squaredOne {
	width: 28px;
	height: 28px;
	background: #fcfff4;

	background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -o-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -ms-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 );
	margin: 20px auto;
	-webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	position: relative;
}

.squaredOne label {
	cursor: pointer;
	position: absolute;
	width: 20px;
	height: 20px;
	left: 4px;
	top: 4px;

	-webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);
	-moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);
	box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);

	background: -webkit-linear-gradient(top, #222 0%, #45484d 100%);
	background: -moz-linear-gradient(top, #222 0%, #45484d 100%);
	background: -o-linear-gradient(top, #222 0%, #45484d 100%);
	background: -ms-linear-gradient(top, #222 0%, #45484d 100%);
	background: linear-gradient(top, #222 0%, #45484d 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222', endColorstr='#45484d',GradientType=0 );
}

.squaredOne label:after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
	content: '';
	position: absolute;
	width: 16px;
	height: 16px;
	background: #00bf00;

	background: -webkit-linear-gradient(top, #00bf00 0%, #009400 100%);
	background: -moz-linear-gradient(top, #00bf00 0%, #009400 100%);
	background: -o-linear-gradient(top, #00bf00 0%, #009400 100%);
	background: -ms-linear-gradient(top, #00bf00 0%, #009400 100%);
	background: linear-gradient(top, #00bf00 0%, #009400 100%);

	top: 2px;
	left: 2px;

	-webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
}

.squaredOne label:hover::after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	opacity: 0.3;
}

.squaredOne input[type=checkbox]:checked + label:after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
}

/* SQUARED TWO */
.squaredTwo {
	width: 28px;
	height: 28px;
	background: #fcfff4;

	background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -o-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -ms-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 );
	margin: 20px auto;

	-webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	position: relative;
}

.squaredTwo label {
	cursor: pointer;
	position: absolute;
	width: 20px;
	height: 20px;
	left: 4px;
	top: 4px;

	-webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);
	-moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);
	box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);

	background: -webkit-linear-gradient(top, #222 0%, #45484d 100%);
	background: -moz-linear-gradient(top, #222 0%, #45484d 100%);
	background: -o-linear-gradient(top, #222 0%, #45484d 100%);
	background: -ms-linear-gradient(top, #222 0%, #45484d 100%);
	background: linear-gradient(top, #222 0%, #45484d 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222', endColorstr='#45484d',GradientType=0 );
}

.squaredTwo label:after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
	content: '';
	position: absolute;
	width: 9px;
	height: 5px;
	background: transparent;
	top: 4px;
	left: 4px;
	border: 3px solid #fcfff4;
	border-top: none;
	border-right: none;

	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.squaredTwo label:hover::after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	opacity: 0.3;
}

.squaredTwo input[type=checkbox]:checked + label:after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
}


/* SQUARED THREE */
.squaredThree {
	width: 20px;	
	margin: 20px auto;
	position: relative;
}

.squaredThree label {
	cursor: pointer;
	position: absolute;
	width: 20px;
	height: 20px;
	top: 0;
	border-radius: 4px;

	-webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,.4);
	-moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,.4);
	box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,.4);

	background: -webkit-linear-gradient(top, #222 0%, #45484d 100%);
	background: -moz-linear-gradient(top, #222 0%, #45484d 100%);
	background: -o-linear-gradient(top, #222 0%, #45484d 100%);
	background: -ms-linear-gradient(top, #222 0%, #45484d 100%);
	background: linear-gradient(top, #222 0%, #45484d 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222', endColorstr='#45484d',GradientType=0 );
}

.squaredThree label:after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
	content: '';
	position: absolute;
	width: 9px;
	height: 5px;
	background: transparent;
	top: 4px;
	left: 4px;
	border: 3px solid #fcfff4;
	border-top: none;
	border-right: none;

	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.squaredThree label:hover::after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	opacity: 0.3;
}

.squaredThree input[type=checkbox]:checked + label:after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
}

/* SQUARED FOUR */
.squaredFour {
	width: 20px;	
	margin: 20px auto;
	position: relative;
}

.squaredFour label {
	cursor: pointer;
	position: absolute;
	width: 20px;
	height: 20px;
	top: 0;
	border-radius: 4px;

	-webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	background: #fcfff4;

	background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -o-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -ms-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 );
}

.squaredFour label:after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
	content: '';
	position: absolute;
	width: 9px;
	height: 5px;
	background: transparent;
	top: 4px;
	left: 4px;
	border: 3px solid #333;
	border-top: none;
	border-right: none;

	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.squaredFour label:hover::after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	opacity: 0.5;
}

.squaredFour input[type=checkbox]:checked + label:after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
}

